@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* colors */
  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #eef2f6;
  --color-neutral-200: #e3e8ef;
  --color-neutral-300: #cdd5df;
  --color-neutral-400: #9aa4b2;
  --color-neutral-500: #697586;
  --color-neutral-600: #4b5565;
  --color-neutral-700: #364152;
  --color-neutral-800: #202939;
  --color-neutral-900: #121926;

  --color-primary-25: #f5f8ff;
  --color-primary-50: #eff4ff;
  --color-primary-100: #d1e0ff;
  --color-primary-200: #b2ccff;
  --color-primary-300: #84adff;
  --color-primary-400: #528bff;
  --color-primary-500: #2970ff;
  --color-primary-600: #155eef;
  --color-primary-700: #004eeb;
  --color-primary-800: #0040c1;
  --color-primary-900: #00359e;

  --color-success-25: #f6fef9;
  --color-success-50: #edfcf2;
  --color-success-100: #d3f8df;
  --color-success-200: #aaf0c4;
  --color-success-300: #73e2a3;
  --color-success-400: #3ccb7f;
  --color-success-500: #16b364;
  --color-success-600: #099250;
  --color-success-700: #087443;
  --color-success-800: #095c37;
  --color-success-900: #084c2e;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --color-tosca: #3d9f8e;
  --color-primary-button: #003b33;
  --color-neutral-200-400: #ffbd59;
  --color-background-1: #8db39e;
  --color-background-2: #beded0;

  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-cormorant: var(--font-cormorant);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --breakpoint-xxs: 330px;
  --breakpoint-xs: 380px;
}

body {
  font-family: var(--font-plus-jakarta), sans-serif;
}

.font-cormorant {
  font-family: var(--font-cormorant), serif;
}

.autoshow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeup {
  animation: fadeup both;
  animation-timeline: view();
  animation-range: entry 50% cover 40%;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

html {
  scroll-behavior: smooth;
}
