@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* colors */
  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #eef2f6;
  --color-neutral-200: #e3e8ef;
  --color-neutral-300: #cdd5df;
  --color-neutral-400: #9aa4b2;
  --color-neutral-500: #697586;
  --color-neutral-600: #4b5565;
  --color-neutral-700: #364152;
  --color-neutral-800: #202939;
  --color-neutral-900: #121926;

  --color-primary-25: #f5f8ff;
  --color-primary-50: #eff4ff;
  --color-primary-100: #d1e0ff;
  --color-primary-200: #b2ccff;
  --color-primary-300: #84adff;
  --color-primary-400: #528bff;
  --color-primary-500: #2970ff;
  --color-primary-600: #155eef;
  --color-primary-700: #004eeb;
  --color-primary-800: #0040c1;
  --color-primary-900: #00359e;

  --color-success-25: #f6fef9;
  --color-success-50: #edfcf2;
  --color-success-100: #d3f8df;
  --color-success-200: #aaf0c4;
  --color-success-300: #73e2a3;
  --color-success-400: #3ccb7f;
  --color-success-500: #16b364;
  --color-success-600: #099250;
  --color-success-700: #087443;
  --color-success-800: #095c37;
  --color-success-900: #084c2e;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --color-tosca: #3d9f8e;
  --color-neutral-200-400: #ffbd59;
  --color-background-1: #8db39e;
  --color-background-2: #beded0;

  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-cormorant: var(--font-cormorant);
}

@media (prefers-color-scheme: dark) {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

